* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
}

:root {
    --fondoPrincipal: #12131A; 
    --fondoSecundario: #1C1F2A;
    --textoPrincipal: #F2F2F7;
    --textoSecundario: #B4B7C9;
    --cardVioleta: #C99DFF;
    --cardNaranja: #FFB21E;
    --cardCoral: #FF8A65;
    --barrasProgreso: #D19BFF;
    --bordes: #2A2D3A;
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 30px;
}

img{
    width:25px;
}

.button{
    background-color: var(--fondoSecundario);
    padding: 2px;
    border-radius: 2px;
}

.button:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.header{
    display:flex;
    justify-content: space-between;
}

.titulo{
    display:flex;
    gap:12px;
    align-items: center;
}

.titulo h1{
    font-size: 16px;
    color: var(--textoPrincipal);
    font-weight: 400;
    
}

.principal{
    background-color: var(--fondoPrincipal);
    width: 90vh;
    height: 700px;
    border-radius: 10px;
    padding: 20px;
}

.main{
    margin-top: 35px;
}
.main h1{
    font-size: 40px;
    color: var(--textoPrincipal);
    text-align: center;
}

.textarea-div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.textarea{
    width: 100%;
    border-radius: 10px;
    height:130px;
    padding:10px;
    background-color: var(--fondoSecundario);   
    border-color: var(--bordes);
}

.textarea::placeholder{
    color:var(--textoSecundario);
    font-weight: 400;
}

.post-main{
    display: flex;
    width:100%;
    align-items: center;
    margin-top: 10px;
    justify-content: space-between;
}

.post-main label{
    font-size: 10px;
    color: var(--textoSecundario);
    display:flex;
    align-items: center;
    gap:5px;
}

.post-main p{
    font-size: 10px;
    color: var(--textoSecundario);
}

.div-checkbox{
    display:flex;
    gap:10px;
}

.checkbox{
    appearance: none;
    border: 1px, solid var(--textoSecundario);
    border-radius: 3px;
    width: 12px;
    height: 12px;
    cursor:pointer;
}

input:checked{
      background-color:var(--textoSecundario);
}

.cards{
    margin-top: 30px;
    display:flex;
    justify-content: space-between;
    gap:10px;
}

.cards h1{
    font-size: 40px;
}

.cards p{
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0px;
}

.card1{
    width: 33.3%;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:10px;
    padding-right:15px;
    border-radius: 8px;
    background-image: url("assets/images/fondo1.png");
    background-size: cover;      
    background-position: center; 
    background-repeat: no-repeat;
}

.card2{
    width: 33.3%;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:10px;
    padding-right:15px;
    border-radius: 8px;
    background-image: url("assets/images/fondo2.png");
    background-size: cover;      
    background-position: center; 
    background-repeat: no-repeat;
}

.card3{
    width: 33.3%;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:10px;
    padding-right:15px;
    border-radius: 8px;
    background-image: url("assets/images/fondo3.png");
    background-size: cover;      
    background-position: center; 
    background-repeat: no-repeat;
}

.density{
    padding-top: 15px;
    width: 100%;
}

.density h1{
    font-size: 17px;
    color: var(--textoSecundario);
    padding-bottom: 10px;
}

.barras{
    width:100%;
    justify-content: space-between;
}

.barras label{
    font-size: 14px;
    color: var(--textoSecundario);
}

.barras span{
    font-size: 14px;
    color: var(--textoSecundario);
}

#barra1{
    width:80%;
    padding-left: 10px;
    padding-right:10px;
   
    }

#barra2{
    width:81%;
    padding-left: 14px;
    padding-right:10px;
   
    }

#barra3{
    width:80%;
    padding-left: 10px;
    padding-right:10px;
    
    }

#barra4{
    width:80%;
    padding-left: 10px;
    padding-right:10px;
    
    }

#barra5{
    width:80%;
    padding-left: 11px;
    padding-right:10px;
        
    }

.see-more{
    padding-top:10px;
    padding-bottom:10px;
    display:inline-flex;
    align-items:center;
    gap:6px;
    color:var(--textoSecundario);
    font-size:14px;
    text-decoration:none;
    cursor:pointer;
}

.see-more::after{
    margin-top:2px;
    color:var(--textoSecundario);
    content:"▼";
    font-size:10px;
}